In [1]:
scores = [95,82,67,58,76]

for score in scores:
    if score >= 90 :
        print(f"{score}은 A 입니다.")
    elif score >= 80 :
        print(f"{score}은 B 입니다.")
     
    elif score >= 70 :
        print(f"{score}은 C 입니다.")
    elif score >= 60 :
        print(f"{score}은 D 입니다.")
    else :
        print("나머지:F")

95은 A 입니다.
82은 B 입니다.
67은 D 입니다.
나머지:F
76은 C 입니다.

In [19]:
for i in range (1,6):
    print(" "*i + "*" + "*"*(6-i))

 ******
  *****
   ****
    ***
     **

In [21]:
for i in range(1,6):
    print(" "*(6-i) + "*"*(2*i-1))

for i in range(1,6):
    print(" "*(6-i) + "*"*(2*i-1))

     *
    ***
   *****
  *******
 *********
     *
    ***
   *****
  *******
 *********

In [22]:
a = [610, "오늘", 3, "수업", "커피"] 
a.append("화이팅")

In [23]:
a

[610, '오늘', 3, '수업', '커피', '화이팅']

In [33]:
li1 = []
li2 = []
for i in range(0,10) :
    if i % 2 == 0 :
        li1.append(i)
    else :
        li2.append(i)

print(li1)
print(li2)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [29]:
li

[0, 2, 4, 6, 8]

In [35]:
list2 = ['soccer','basketball','baseball'] 
list2.insert(2,"foot ball")

In [36]:
list2

['soccer', 'basketball', 'foot ball', 'baseball']

In [40]:
#list2.remove("foot ball")
list2.index('soccer')

0

In [41]:
list2.remove(1)

ValueError: list.remove(x): x not in list

In [45]:
multiplication = int(input("출력할 구구단 숫자를 입력해 주세요"))
print(f" ##### {multiplication}단 ###### ")

for num in range(1, 10):
    print(f" {multiplication} X {num} = { multiplication * num }")

출력할 구구단 숫자를 입력해 주세요 5

 ##### 5단 ######
 5 X 1 = 5
 5 X 2 = 10
 5 X 3 = 15
 5 X 4 = 20
 5 X 5 = 25
 5 X 6 = 30
 5 X 7 = 35
 5 X 8 = 40
 5 X 9 = 45

In [47]:
li = [("영희",50), ("똘희",90), ("길동",100), ("돌비", 30), ("철수", 68), ("풍자",81)] 

names = []
for (name,jumsu) in li:
    if jumsu > 60 :
        names.append(name)

In [48]:
names

['똘희', '길동', '철수', '풍자']

In [2]:
food = {'커피': 3, '빵' : 2, '초콜릿': 5, '도시락': 7 } 

for key in food:
    print(f"{key} : {food[key]}")

커피 : 3
빵 : 2
초콜릿 : 5
도시락 : 7

In [8]:
word = input("문자를 입력해 주세요")
word.upper()
word.

문자를 입력해 주세요 we

False

In [33]:
def UpperString(word) :
   if word is None:
       print("문자 입력이 필요합니다.")
       return

   print("문자 입력이 필요합니다.1111")    
   return word.upper()

In [34]:
UpperString("ds")

문자 입력이 필요합니다.1111

'DS'

In [35]:
UpperString()

TypeError: UpperString() missing 1 required positional argument: 'word'

In [36]:
for i in range(1,6):
    print(" "*(6-i) + "*"*(2*i-1))

     *
    ***
   *****
  *******
 *********

In [37]:
for i in range(5,0, -1):
    print(" "*(6-i) + "*"*(2*i-1))

 *********
  *******
   *****
    ***
     *

In [49]:
hab = lambda a,b : a + b
hab(1,2)

3

In [63]:
def test(*args) :
    #for n in args:
    #    print(n)

    #([] for n in args: append(n))
    squares = [ i for i in args if i % 2 == 0 ]

    print(squares)
test(1,2,3,4)

[2, 4]

In [ ]:
([] for n in args

In [68]:
(lambda *args : [i for i in args if i % 2 == 0])(1,2,3,4)

[2, 4]

In [102]:
a = [1,2,3]
b = [4,5,6]
a + b

[1, 2, 3, [4, 5, 6]]

In [101]:
#a = 44
def test():
    #global a
    #nonlocal a
    a = 2
    print(a)

In [98]:
test()

2